.bubble--container {
	position: absolute;
	top: 35%;
	right: 26px;
	z-index: 1000;
	width: 50px;
	height: 40px;
	will-change: transform;
	contain: size layout;
}

.bubble--container[aria-hidden] {
	display: none;
}

.bubble {
	position: relative;
	padding: 0;
	background: #eee;
	border-radius: 3px;
	/*border: #eee solid 2px;*/
	cursor: default;
	color: #333;
	line-height: 40px;
	text-align: center;
}

/** Arrow */
.bubble::after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 0 15px 15px;
	border-color: transparent #eee;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -15px;
	right: -15px;
	top: 50%;
}

/** Border
.bubble:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 16px 0 16px 16px;
	border-color: transparent #eee;
	display: block;
	width: 0;
	z-index: 0;
	margin-top: -16px;
	right: -18px;
	top: 50%;
} */
